body{
    background-image: url(bglogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    background-color:#235789;
    height: 10px;
    width: 329px;
}
 
.login{
    background-color:#f4f5f5;
    border: none;
    height: 740px;
    width: 350px;
    float: left;
}

.dalemlogin{
    padding-left: 10px;
    padding-top: 50px; 
}

.btn{
    background-color: #235789;
    color : white;
    width: 329px;
    border-radius: 5px;
}